* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
    margin: 20px;
}

.container {
    width: 960px;
    margin: 0 auto;
}
/* TODO: Add css here */
.tabs {

}


@media only screen and (max-width: 960px) {

    .container {
        width: 100%;
    }

    .content {
        padding: 50px;
    }
}