* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: rgba(206, 197, 197, 0.027);
	overflow-x: hidden;
}
.container {
	width: 100%;
	height: 100vh;
	background-color: rgb(0, 0, 0);
	color: white;
	padding: 5em 15em;
}
.container .wrapper {
	background-color: rgb(34, 34, 34);
	display: flex;
	justify-content: space-between;
}
.container .wrapper a {
    padding: 25px 6.6em;
    cursor: pointer; 
}
.container .wrapper a:hover {
    background-color: rgb(44, 44, 44);
}
.container .wrapper a.active {
    background-color: rgb(40, 102, 131);
    transition: background-color 0.5s ease;
}
.container .wrapper a.active:hover {
    background-color: rgb(40, 102, 131); 
}
.container .content {
	background-color: white;
	color: rgb(77, 77, 77);
	padding: 60px 5em;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	line-height: 34px;
}
.container .content .desc h2 {
	margin-top: 0;
}

@media (max-width: 480px) {
	.container {
		padding: 2em;
	}
	.container .wrapper a {
		padding: 12px 25px;
		font-size: 12px;
	}
	.container .content {
		padding: 30px 1em;
		line-height: 24px;
	}
	.container .content .desc h2 {
		font-size: 16px;
	}
	.container .content .desc {
		font-size: 10px;
	}
}